
@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFE0;
}
.background__nav{
    width: 100%;
    height: 4rem;
}

.background__nav__ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
  
}
.background__nav__ul__li{
    margin: 0 2rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;
}
.background__nav__ul__li:hover{
    cursor: pointer;
    border-bottom: 2px solid black;
}

.background__nav__ul__li__link{
    text-decoration: none;
    color: black;
}


.background__title{
    text-align: center;
    font-family: 'Kirang Haerang', cursive;
    font-size: 3.5rem;
    margin-top: 1rem;
}

.background__wrap{
    width: 60rem;
    margin: 0 auto;
    padding-bottom: 5rem;
}
.background__wrap__recent{
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
}

.background__wrap__days{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    
}
.background__wrap__days__empty{
    width: 100%;
    height: 6rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.background__wrap__days__box{
    height: 3rem;
    border: 2px solid rgb(56, 56, 56);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-decoration: none;
    color: black;
}
.background__wrap__days__box:hover{
    cursor: pointer;
}
.background__wrap__days__box__num{
    width: 20%;
    height: 100%;
    line-height: 3rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    background-color: rgb(56, 56, 56);
    color: white;
    font-weight: 700;
}
.background__wrap__days__box__text{
    width: 80%;
    height: 100%;
    line-height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    padding-left: 1rem;
}


.background__wrap__behavior{
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    margin-top: 1rem;
}
.background__wrap__tags{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
}
.background__wrap__tags__tag{
    height: 3rem;
    border: 2px solid rgb(56, 56, 56);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.background__wrap__tags__tag:hover{
    cursor: pointer;
}
.background__wrap__tags__tag__text{
    width: 80%;
    height: 100%;
    line-height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    padding-left: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.background__wrap__tags__tag__link{
    width: 20%;
    height: 100%;
    line-height: 3rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    background-color: rgb(56, 56, 56);
    color: white;
    font-weight: 700;
}

.background__wrap__sort{
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
}
.background__wrap__sort__wrap{
    width: 25%;
    height: 100%;
    line-height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
}

.background__wrap__sort__wrap--active{
    background-color: rgb(190, 190, 190);
    color: black;
}

.background__wrap__display{
    width: 100%;
}
.background__wrap__display__group{
    width: 100%;
    margin-top: 1rem;
}
.background__wrap__display__group__date{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
}
.background__wrap__display__group__days{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem 1rem;
}
.background__wrap__display__group__days__box{
    height: 3rem;
    border: 2px solid rgb(56, 56, 56);
    line-height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    color: black;
}
.background__wrap__display__group__days__box__num{
    width: 20%;
    height: 100%;
    background-color: rgb(56, 56, 56);
    text-align: center;
    color: white;
}
.background__wrap__display__group__days__box__date{
    width: 80%;
    height: 100%;
    padding-left: 1rem;
}


/*behaviors html*/
.background__wrap__title{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    border-bottom: 2px solid rgb(56, 56, 56);
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.background__wrap__goals{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}
.background__wrap__goals__all{
    width: 100%;
    height: 100%;
}
.background__wrap__goals__list{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid rgb(56, 56, 56);
    border-left: none;
    margin: 0.5rem 0;
}
.background__wrap__goals__list__method{
    width: 3rem;
    height: 100%;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
}
.background__wrap__goals__list__text{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    line-height: 2.7rem;
    padding-left: 1rem;
}

.background__wrap__goals__list--add{
    width: 17rem;
}
.background__wrap__goals__list--add:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    color: white;
}

.background__wrap__behaviors--day{
    width: 100%;
    height: 100%;
}


.background__wrap__behaviors{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
}

.background__wrap__behaviors__box{
    height: 3rem;
    border: 2px solid rgb(56, 56, 56);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.background__wrap__behaviors__box__gbn{
    width: 20%;
    height: 100%;
    background-color: rgb(56, 56, 56);
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}
.background__wrap__behaviors__box__text{
    width: 80%;
    height: 100%;
    padding-left: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
}


/*create*/
.background__wrap__form{
    width: 100%;
    height: 100%;
}
.background__wrap__form__label{
    display: block;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    margin-top: 1rem;
}
.background__wrap__form__input{
    height: 2.5rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    border: 2px solid rgb(56, 56, 56);
}

.background__wrap__form__behaviors{
    width: 100%;
    height: 100%;
}
.background__wrap__form__behavior{
    width: 100%;
    height: 3rem;
    border: 2px solid rgb(56, 56, 56);
    margin-top: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
}
.background__wrap__form__behavior--addNew{
    height: 8rem;
    display: flex;
    flex-flow: row wrap;
    border: unset;
    display: none;
}
.background__wrap__form__behavior__top{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    border: 2px solid rgb(56, 56, 56);
}
.background__wrap__form__behavior__bottom{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1rem;
}
.background__wrap__form__behavior__bottom__add{
    width: 5rem;
    height: 2.5rem;
    border: 2px solid rgb(56, 56, 56);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: center;
}
.background__wrap__form__behavior__bottom__cancel{
    width: 6rem;
    height: 2.5rem;
    border: 2px solid rgb(56, 56, 56);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: center;
    margin-left: 1rem;
}
.background__wrap__form__behavior__bottom__choose{
    width: 25rem;
    height: 2.5rem;
    border: 2px solid rgb(56, 56, 56);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: center; 
    margin-left: 1rem;
}
.background__wrap__form__behavior__bottom__addNewBehavior{
    width: 20rem;
    height: 2.5rem;
    border: 2px solid rgb(56, 56, 56);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: center; 
    margin-left: 1rem;
}

.background__wrap__form__behavior__bottom__addNewBehavior:hover,
.background__wrap__form__behavior__bottom__cancel:hover,
.background__wrap__form__behavior__bottom__add:hover,
.background__wrap__form__behavior__bottom__choose:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    color: white;
}

.background__wrap__form__behavior__gbn{
    width: 3rem;
    height: 100%;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    border: unset;
  
}
.background__wrap__form__behavior__gbn:focus{
    outline: unset;
}
.background__wrap__form__behavior__text{
    padding-left: 1rem;
    height: 100%;
    line-height: 2.7rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    border: unset;
}
.background__wrap__form__behavior__text--input{
    padding-left: 1rem;
    width: 100%;
    height: 100%;
    line-height: 2.7rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    border: unset;
    display: none;
}
.background__wrap__form__behavior__text--input--goal{
    padding-left: 1rem;
    width: 100%;
    height: 100%;
    line-height: 2.7rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    border: unset;
}
.background__wrap__form__behavior__text--select {
    padding-left: 1rem;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    line-height: 2.7rem;
    border: unset;
}
.background__wrap__form__behavior__text--select:focus{
    outline: unset;
}
.background__wrap__form__behavior--add{
    width: 17rem;
    margin-top: 2rem;
}
.background__wrap__form__behavior--add:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
    color: white;
}

.background__wrap__form__submit{
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    background-color: unset;
    border: 2px solid rgb(56, 56, 56);
}
.background__wrap__form__submit:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(56, 56, 56);
}

/*view*/
.background__wrap__title--second{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
}
.background__wrap__date{
    width: 100%;
    height: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    line-height: 3rem;
}
.background__wrap__behavior--view{
    width: 100%;
    height: 3rem;
    border: 2px solid rgb(56, 56, 56);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    line-height: 3rem;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.5rem;
}
.background__wrap__behavior--view__delete{
    width: 3rem;
    height: 100%;
    line-height: 2.7rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.background__wrap__behavior--view__delete:hover{
    color: white;
}
.background__wrap__behavior--view__type{
    width: 3rem;
    height: 100%;
    background-color: rgb(56, 56, 56);
    line-height: 2.7rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white; 
}

.background__wrap__behavior--view__delete:hover{
    cursor: pointer;
    background-color: crimson;
}
.background__wrap__behavior--view__text{
    width: 100%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3rem;
    line-height: 2.7rem;
    padding-left: 1rem;
}